:root {
    --content-width: 960px;
    font-size: 16px;
}

:root[data-applied-mode="system"], :root[data-applied-mode="default"], :root {
    color-scheme: light dark;
    --base-color: var(--ctp-latte-base);
    --text-color: var(--ctp-latte-text);
    --mantle-color: var(--ctp-latte-mantle);
    --crust-color: var(--ctp-latte-crust);
}
@media (prefers-color-scheme: dark) {
    :root[data-applied-mode="system"], :root[data-applied-mode="default"], :root {
        --base-color: var(--ctp-mocha-base);
        --text-color: var(--ctp-mocha-text);
        --mantle-color: var(--ctp-mocha-mantle);
        --crust-color: var(--ctp-mocha-crust);
    }
}

:root[data-applied-mode="set"][data-theme="mocha"] {
    color-scheme: dark;
    --base-color: var(--ctp-mocha-base);
    --text-color: var(--ctp-mocha-text);
    --mantle-color: var(--ctp-mocha-mantle);
    --crust-color: var(--ctp-mocha-crust);
}
:root[data-applied-mode="set"][data-theme="macchiato"] {
    color-scheme: dark;
    --base-color: var(--ctp-macchiato-base);
    --text-color: var(--ctp-macchiato-text);
    --mantle-color: var(--ctp-macchiato-mantle);
    --crust-color: var(--ctp-macchiato-crust);
}
:root[data-applied-mode="set"][data-theme="frappe"] {
    color-scheme: dark;
    --base-color: var(--ctp-frappe-base);
    --text-color: var(--ctp-frappe-text);
    --mantle-color: var(--ctp-frappe-mantle);
    --crust-color: var(--ctp-frappe-crust);
}
:root[data-applied-mode="set"][data-theme="latte"] {
    color-scheme: light;
    --base-color: var(--ctp-latte-base);
    --text-color: var(--ctp-latte-text);
    --mantle-color: var(--ctp-latte-mantle);
    --crust-color: var(--ctp-latte-crust);
}


html, body {
    font-family: "Courier New", monospace;
    margin: 0px;
    overflow-x: clip;
    background-color: var(--base-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.blog-link {
    border-color: var(--mantle-color);
    background-color: var(--crust-color);
    margin-top: 0.25em;
    padding: 0.25em 1.25em;
}

.grid-container {
    min-height: 100vh;

    /* sync media query with content-width (desktop) */
    @media only screen and (min-width: 960px) {
        min-width: 960px;
        margin-left: auto;
        margin-right: auto;
        max-width: var(--content-width);
    }
}


.grid-cell {
    background-color: var(--mantle-color);
    padding: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.grid-cell.nav-bar {
    margin-bottom: 2vh;
    /* display: grid;
    grid-auto-flow: column; */
}

.grid-cell.bottom-bar {
    margin-top: 2vh;
    padding: 0;
}

.grid-cell.page-content {
    flex-grow: 1;
}

.grid-cell.article-links {
    flex-grow: 1;
}

.nav-button {
    font-family: inherit;
    background-color: var(--crust-color);
    border-style: none;
    padding: 0.5em 1em;
    margin-right: 0.5em;
    font-size: x-large;

}

.nav-button:hover {
    text-decoration: underline;
}

.nav-button:active {
    text-decoration: underline;
    text-underline-offset: 0.25em;
}