:root[data-applied-mode="light"] {
    color-scheme: light;
    --base-color: var(--ctp-latte-base);
    --text-color: var(--ctp-latte-base);

    --mantle-color: var(--ctp-latte-mantle);
    --crust-color: var(--ctp-latte-crust);

}

:root[data-applied-mode="dark"] {
    color-scheme: dark;
    --base-color: var(--ctp-mocha-base);
    --text-color: var(--ctp-mocha-text);

    --mantle-color: var(--ctp-mocha-mantle);
    --crust-color: var(--ctp-mocha-crust);
}

html, body {
    font-family: "Courier New", monospace;
    margin: 0px;
    overflow-x: clip;
    background-color: var(--base-color);
}

.blog-link {
    border-color: var(--mantle-color);
    background-color: var(--crust-color);

    color: inherit;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    margin-top: 2px;
    padding-left: 10px;
}

.gridContainerDesktop {
    display: grid;
    grid-auto-flow: row;
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}

.gridContainerMobile {
    display: grid;
    grid-auto-flow: row;
    overflow: clip;
}

.gridCell {
    background-color: var(--ctp-mocha-mantle);
    padding-left: 2vh;
    padding-right: 2vh;
    height: 100vh;
}