.navBarGrid {
        display: grid;
        grid-auto-flow: column;
        overflow: scroll;
        justify-content: left;
        padding: 10px;
        border: solid;
        border-color: black;
        border-width: 2px;
        margin: 0px;
}

.navBarCell {
        font-size: large;
        margin-right: 20px;
        color: black;
}

.navBarCell:hover{
        font-weight: bolder;
}