.navBarGrid {
        display: grid;
        grid-auto-flow: column;
        overflow: scroll;
        justify-content: left;
        padding: 10px;
        border: solid;
        border-width: 2px;
        border-color: var(--border-color);
        margin: 0px;
}

.navBarCell {
        font-size: large;
        margin-right: 20px;
        text-decoration: none;
}

.navBarCell:hover{
        font-weight: bolder;
}

.cellDark {
        color: white;
}

.cellLight {
        color: black;
}

.cellActive {
        text-decoration: underline !important;
}
