.blog {
        justify-content: left;
        padding: 10px;
        border: solid;
        border-color: black;
        border-width: 2px;
}

.blogList {
        display: grid;
        grid-auto-flow: row;
}

.blogListCell {
        padding: 5px;
        margin: 5px;
        border-width: 10px;
        border-style: groove;
        cursor: pointer;
}
