<div class='blog'>
        <div class="blogList" *ngIf="!isBlogActive">
                @for (blogEntry of BlogEntries; track blogEntry) {
                        <span class="blogListCell" [routerLink]="['/blog', blogEntry.path]">
                                <h2>{{blogEntry.title}}</h2>
                                <app-latex-paragraph [inputString]="blogEntry.blurb"></app-latex-paragraph>
                        </span>
                }
        </div>
        <router-outlet *ngIf="isBlogActive"></router-outlet>
</div>
