<div class='blog'>
        <article *ngIf="!isBlogActive">
                @for (blogEntry of BlogEntries; track blogEntry) {
                        <div [routerLink]="['/blog', blogEntry.path]">
                                <h1>{{blogEntry.title}}</h1>
                                <app-latex-paragraph [inputString]="blogEntry.blurb"></app-latex-paragraph>
                        </div>
                }
        </article>
        <router-outlet *ngIf="isBlogActive"></router-outlet>
</div>
